@import '../../../css/Utils.module.scss';

.button {
   position: fixed;
   text-decoration: none;
   top: 20px;
   right: 20px;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;
   border-radius: 5px;
   background: rgba(black, 0.5);
   color: white;
   cursor: pointer;
   transition: border-color .2s linear, color .2s linear, opacity .3s linear;
   outline-color: $border-color;
   z-index: 2;
   &:hover {
      border-color: $border-color-transparent;
      color: rgb(255, 214, 107);
   }
}

.buttonHidden {
   @extend .button;
   opacity: 0;
}