@import '../../css/Utils.module.scss';

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.wrapper {
   position: relative;
   height: 120px;
   pointer-events: none;

   @include screen("xs", "md") {
      height: 80px;
   }
}

.circle {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: 2px solid rgba(white, 0.4);
   border-top: 2px solid rgb(255, 214, 107);
   position: absolute;
   top: calc(50% - 40px);
   left: calc(50% - 40px);
   animation-name: rotate;
   animation-duration: 1.2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

   @include screen("xs", "md") {
      width: 60px;
      height: 60px;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
   }
}

.label {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   font-size: 12px;
}