.wrapper {
   position: relative;
}

.list {
   padding: 0;
   margin: 0;
   display: flex;
   position: relative;
   z-index: 1;
}

.navGradient {
   position: absolute;
   height: 100px;
   width: 100%;
   min-width: 700px;
   left: 50%;
   transform: translateX(-50%);
   top: 0;
   z-index: 0;
   background: radial-gradient(50% 100% at 50% 0%, rgba(254, 244, 153, 0.79) 0%, rgba(254, 206, 149, 0.36) 44.79%, rgba(255, 198, 145, 0.09) 86.46%, rgba(255, 184, 143, 0) 100%);
}