.wrapper {
   text-align: center;
   padding: 20px 0;
}

.header {
   font-size: 36px;
   font-weight: 400;
   font-family: 'Orbitron', sans-serif;
}

.separator {
   width: 450px;
   max-width: 100%;
}