@import '../../css/Utils.module.scss';

.wrapper {
   text-align: center;
   padding: 20px 0;
}

.header {
   font-size: 36px;
   font-weight: 400;
   font-family: 'Orbitron', sans-serif;
   @include screen("xs", "md") {
      font-size: 32px;
   }
}