// Typography
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700|Quicksand:300,400&display=swap');

:root {
   font-size: 18px;
}

body {
   margin: 0;
   background-color: black;
   color: white;
   font-family: 'Quicksand', sans-serif;
   font-weight: 300;
}

.noScroll {
   overflow: hidden;
}

*, *:before, *:after {
   box-sizing: border-box;
}

.wrapper {
   width: 100%;
}

.wrapperNoScroll {
   @extend .wrapper;
   height: 100vh;
   overflow: hidden;
}

.content {
   padding: 20px;
   font-size: 1.4rem;

   p {
      padding: 0 20px;
   }
}